@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Northwestern Medicine:</h1>
    <h1 class="display-4">Trivia</h1>
    <br />
    <p><i>How well do you know Northwestern Medicine? Let's find out!</i></p>
</div>
