@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et tristique elit. Nulla sit amet luctus dolor. Suspendisse auctor fringilla augue, eget pellentesque nibh vulputate eget. Cras quis tincidunt ante. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam id ligula finibus, tempus ex at, suscipit purus. Vestibulum mi tortor, vehicula id ex et, lobortis tincidunt tellus. Aenean nisl erat, ultrices et aliquet vel, lobortis ac ex. Integer luctus ut libero a semper.
</p>

<p>
    Donec sed condimentum quam. Proin ut enim massa. Nullam vulputate ut massa at pharetra. Sed mollis lobortis est, sit amet sollicitudin ipsum iaculis ut. Phasellus ac lacinia augue, id varius tellus. Morbi lobortis, sem in congue posuere, lectus metus bibendum neque, in consectetur elit sem id elit. Ut risus elit, luctus non mi ac, posuere vestibulum mi.
</p>

<p>
    Praesent sagittis gravida condimentum. Vestibulum ut augue est. Duis maximus mollis arcu eget pellentesque. In sem velit, consequat in accumsan vel, fringilla vel erat. In tempor libero lorem, a malesuada erat fringilla ac. Nulla non pharetra purus. Quisque erat nisl, suscipit eu eros eu, scelerisque laoreet mi. Maecenas tempus malesuada neque vel tristique. Donec accumsan sapien vel arcu rhoncus, sed condimentum elit dignissim. Phasellus ullamcorper tempus mi, eget sagittis purus malesuada ut. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam nibh ligula, imperdiet a purus eget, efficitur placerat felis. Nam placerat, turpis vitae sagittis molestie, metus augue pharetra ligula, sodales porttitor velit urna eget neque. Nulla sed nulla non libero efficitur elementum. Maecenas porttitor magna quam. Aliquam vitae erat hendrerit, sagittis velit at, pharetra odio.
</p>
